{% for m in history %}
      <tr style="border-left: 3px solid {{ 'var(--grey)' if m.duration_m < 5 else 'var(--green-dim)' if m.win else 'var(--red-dim)' }};" onclick="window.location.href='/select_match/{{ m.match_id }}'">
        <td><span class="badge {{ 'badge-remake' if m.duration_m < 5 else 'badge-win' if m.win else 'badge-loss' }}">{{ 'Remake' if m.duration_m < 5 else 'Victory' if m.win else 'Defeat' }}</span></td>
        <td style="max-width: 140px;">
          <div class="champ-cell">
            <div style="position: relative; width: 35px; height: 35px; bottom: 5px; flex-shrink: 0;">
  <img src="{{ m.champion_icon }}" title="{{ m.champion }}" class="history-icon" onerror="this.style.display='none'">
  <span style="position: absolute; bottom: -10px; right: -9px; font-size: 9px; font-weight: 600;
               background: var(--bg); color: var(--text); line-height: 1;
               padding: 1px 3px; border-radius: 3px;">{{ m.level }}</span>
</div>
            <span style="font-weight: 500; margin-left: 18px; position: relative; vertical-align: auto;">{{ m.champion }}</span>
          </div>
          <td style="width: 100px;"><img src="{{m.spell_1}}" title="{{m.spell_1_name}}" class="spell"><img src="{{m.spell_2}}" title="{{m.spell_2_name}}" class="spell"></td>
        </td>
        <td><img src="{{ m.keystone_icon }}" title="{{m.keystone}}" class="rune-key"><img src="{{ m.secondary_icon }}" title="{{m.secondary}}" class="rune-sec"></td>
        <td><div style="display: grid; grid-template-columns: repeat(4, 24px); grid-template-rows: repeat(2, 24px); gap: 2px;">
            {% for item in m.item %}
              {% if item %}
                <img src="https://ddragon.leagueoflegends.com/cdn/16.7.1/img/item/{{ item }}.png"
                    style="width: 24px; height: 24px; border-radius: 3px;"
                    onerror="this.style.display='none'">
              {% else %}
                <div style="width: 24px; height: 24px; background: var(--bg); border-radius: 3px;"></div>
              {% endif %}
            {% endfor %}
            </div>
          
        </td>
        <td class="kda">
          <div><span class="kda-k">{{ m.kills }}</span><span style="color:var(--muted2);">/</span><span class="kda-d">{{ m.deaths }}</span><span style="color:var(--muted2);">/</span><span class="kda-a">{{ m.assists }}</span></div>
          <span style="margin:auto;color: {% if m.kda >= 3 %}var(--win){% elif m.kda >= 1.5 %}var(--text){% else %}var(--loss){% endif %};">{{ m.kda }}</span>
        </td>
        <td class="mono">{{ m.cs }}</td>
        <td class="mono">{{ '{:,}'.format(m.damage) }}</td>
        <td class="mono" style="color: var(--muted);">{{ m.duration_m }}m {{ m.duration_s }}s</td>
        <td style="color: var(--muted);"><div>{{ m.queue }}</div><div style="color: var(--muted2)">{{m.date}}</div></td>
        <td style="color: var(--muted2); font-size: 12px;">{{ m.patch }}</td>
      </tr>
      {% endfor %}